.container {
    position: relative;
    background-color: var(--color-grey-2);
    padding-bottom: var(--spacing-md);
}

.wrap {
    max-width: var(--max-width);
    margin: 0 auto;
}

.products-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-grey-2);
    padding: var(--spacing-xs);
    font-family: var(--medium);
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--color-black);
}

.products-header svg {
    height: 15px;
}

.sort-btn {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sort-btn p {
    flex: 1;
    margin: 0 var(--spacing-xs);
}
.sort-btn svg {
    flex: 1;
}

.options {
    position: absolute;
    display: flex;   
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    animation-fill-mode: forwards;
    margin: var(--spacing-xxs) 0;
    opacity: 0;
    top: 0;
    right: 0;
}

@media (min-width: 720px) {
    .options {
        width: 50%;
    }
}

@media (min-width: 1050px) {
    .options {
        width: 33.33%;
    }
}

.options button {
    position: relative;
    flex: 1;
    text-align: center;
    margin: 0 var(--spacing-xxs);
    border-radius: 25px;
    background-color: var(--color-grey-4);
}

.options button:hover {
    background-color: var(--color-grey-6);
    cursor: pointer;
}

.show {
    transition: all .15s;
    visibility: visible;
    transform: translateY(100%);
    opacity: 1;
}

.svg {
    transform: none;
}

.transform {
    transform: rotateX(180deg);
}

.active-sort {
    background-color: var(--color-grey-6);
}