.hero-container {
    height: calc(100vh - var(--mobile-header-height));
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: var(--regular);
    letter-spacing: var(--letter-spacing);
    color: #000;
    padding: 0 var(--spacing-xs);
    background-color: var(--color-grey-2);
}

.wrap {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
}

.image-container {
    flex: 3;
    margin-top: var(--spacing-xs);
}

.text-box {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info h1 {
    font-size: 1.6rem;
    font-family: var(--medium);
    padding-top: var(--spacing-xs);
}

.info > p {
    color: var(--color-grey-11);
    padding-top: var(--spacing-xs);
}

.btn {
    margin: var(--spacing-xs) 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-black);
    text-align: center;
    padding: var(--spacing-xs);
    width: 100%;
}

.average-rating {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-xs);
}

.average-rating p {
    margin-left: var(--spacing-xs);
    color: var(--color-grey-11);
    font-size: .9rem;
}

.review-section {
    background-color: var(--color-grey-2);
    padding: var(--spacing-lg) var(--spacing-xs);
    font-family: var(--regular);
}

.review-header {
    letter-spacing: var(--letter-spacing);
}

.review-header h2 {
    margin-bottom: var(--spacing-sm);
}

.review-header p {
    margin-bottom: var(--spacing-xs);
}

.review-button {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: var(--spacing-xs) calc(2 * var(--spacing-xs));
    cursor: pointer;
    transition: all .3s;
}

.review-button:hover {
    border-radius: 20px;
    text-decoration: underline;
}

.average-rating-display {
    display: flex;
    align-items: flex-end;
}

.rating {
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: var(--spacing-xxs);
}

@media (min-width: 809px) {
    .hero-container {
        height: fit-content;
        flex-direction: row;
        align-content: flex-start;
        background-color: var(--color-white);
    }

    .image-container {
        flex: 1;
        height: calc(95vh - var(--mobile-header-height));
        position: sticky;
        top: var(--spacing-xs);
    }

    .text-box {
        padding: 0 var(--spacing-xs);
        justify-content: flex-start;
    }

    .info {
        margin-bottom: var(--spacing-lg);
    }

    .review-section {
        display: flex;
    }

    .review-header {
        flex: 1;
    }

    .reviews {
        flex: 1;
    }
}