.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px var(--color-grey-8);
    padding: var(--spacing-xxs);
}

.wrapper {
    width: 100%;
    height: 100%;
}

.image {
    height: 90%;
    width: 100%;
    background-color: var(--color-grey-8);
    animation: fadeInOut 3s linear .2s infinite;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.text {
    background-color: var(--color-grey-8);
    width: 20%;
    height: 10px;
    padding: var(--spacing-xxs) 0;
    margin: var(--spacing-xxs) 0;
    animation: fadeInOut 3s linear .2s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}